@model O2GEN.Models.DeskModels.ControlListModel
@{
    ViewData["Title"] = "Контроли";
}

@*data-url="@Url.Action("ControlCreate")"*@

<section class="component-section">

    <div class="row-container-left bg-blue with-padding">
        <button type="button" class="transparent-btn" data-toggle="modal-toggler" data-target="#ControlEdit" data-url="@Url.Action("ControlCreate")">
            <i class="fa fa-plus color-white"></i>
            <p class="color-white">Создать</p>
        </button>
    </div>
    <div id="placeholder">
        @*<div class="modal fade" id="ControlEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        @Html.Partial("ControlEdit", new Control());
                    </div>
                </div>
            </div>*@
    </div>

    <div class="margin-between-above">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <p>
                            Отображаемое название
                        </p>
                    </th>

                    <th>
                        <p>
                            Тип
                        </p>
                    </th>

                    <th width="300">
                        <p class="text-center">
                            Изменить/Удалить
                        </p>
                    </th>

                </tr>

            </thead>
            <tbody>
                @if (ViewBag.Controls == null)
                    return;
                else foreach (var item in ViewBag.Controls)
                    {
                        <tr>
                            <td>
                                <p>
                                    @item.DisplayName
                                </p>
                            </td>
                            <td>
                                <p>
                                    @item.DisplayValueType
                                </p>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#ControlEdit" data-url="@Url.Action("ControlEdit", new { id = item.Id })">
                                        <i class="fa fa-pen"></i>
                                    </button>

                                    <button type="submit" class="btn btn-danger ml-1" onclick="location.href='@Url.Action("ControlDelete", new { id = item.Id })'">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>

                        </tr>
                    }
            </tbody>
        </table>
    </div>

</section>


