@model O2GEN.Models.Control

<div class="modal fade" id="ControlEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="ControlUpdate" method="post" id="formid" >
                <div class="validation" asp-validation-summary="All"></div>
                <div class="modal-header">
                    @if (Model.Id == -1)
                    {
                        <h5>Новая запись</h5>
                    }
                    else
                    {
                        <h5>Изменить запись №@Model.Id</h5>
                    }
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    @Html.Hidden("Id", Model.Id)
                    @Html.Hidden("ObjectUID", Model.ObjectUID)
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input asp-for="DisplayName" class="form-control" placeholder="Название" required />
                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <select asp-for="ValueType" class="form-control" required>
                                <option value="" selected disabled>Тип контроля</option>
                                <option value="0">@O2GEN.Helpers.DBHelper.GetControlTypeDisplay(0)</option>
                                <option value="1">@O2GEN.Helpers.DBHelper.GetControlTypeDisplay(1)</option>
                                <option value="2">@O2GEN.Helpers.DBHelper.GetControlTypeDisplay(2)</option>
                            </select>
                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="ContolDetails">
                        <h4>Уставки</h4>
                        <h5>Норма</h5>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="ValueBottom1"></label>
                                <input asp-for="ValueBottom1" type="number" class="form-control list-group-item-success" />
                                <span asp-validation-for="ValueBottom1" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ValueTop1"></label>
                                <input asp-for="ValueTop1" type="number" class="form-control list-group-item-success" />
                                <span asp-validation-for="ValueTop1" class="text-danger"></span>
                            </div>
                        </div>
                        <h5>Отклонение</h5>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="ValueBottom2"></label>
                                <input asp-for="ValueBottom2" type="number" class="form-control list-group-item-warning" />
                                <span asp-validation-for="ValueBottom2" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ValueTop2"></label>
                                <input asp-for="ValueTop2" type="number" class="form-control list-group-item-warning" />
                                <span asp-validation-for="ValueTop2" class="text-danger"></span>
                            </div>
                        </div>
                        <h5>Сильное отклонение</h5>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="ValueBottom3"></label>
                                <input asp-for="ValueBottom3" type="number" class="form-control list-group-item-danger" />
                                <span asp-validation-for="ValueBottom3" class="text-danger"></span>

                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ValueTop3"></label>
                                <input asp-for="ValueTop3" type="number" class="form-control list-group-item-danger" />
                                <span asp-validation-for="ValueTop3" class="text-danger"></span>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary" data-save="modal">Применить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>