@model O2GEN.Models.Department

<div class="modal fade" id="DepartmentsEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.Id == -1)
                {
                    <h5>Новая запись</h5>
                }
                else
                {
                    <h5>Изменить запись №@Model.Id</h5>
                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <form action="DepartmentUpdate" method="post">
                <div class="modal-body">
                    @Html.Hidden("Id", Model.Id)
                    @Html.Hidden("ObjectUID", Model.ObjectUID)

                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Название" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="DisplayName"></label>
                        <input asp-for="DisplayName" class="form-control" placeholder="Отображаемое название" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="ParentId"></label>
                        <select asp-for="ParentId" class="form-control">
                            <option value="null" selected disabled>Выбрать</option>
                            @foreach (var item in O2GEN.Helpers.DBHelper.GetDepartments(RootDepartId:-1, ClearList: true, ForDept: Model.Id))
                            {
                                if (item.Id != Model.Id)
                                {
                                    <option value="@item.Id">@item.DisplayName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShortCode"></label>
                        <input asp-for="ShortCode" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" onclick="$('#SaveChangesModal').modal('show')">Сохранить</button>
                </div>
            </form>
            @Html.Partial("ModalBlock")
        </div>
    </div>
</div>
@Html.Partial("ModalSaveAccept")
