@model O2GEN.Models.DeskModels.ControlListModel
@{
    ViewData["Title"] = "Участки";
}

@functions{
    void Test(O2GEN.Models.Department child, int depth)
    {
        if (child == null)
            return;

        if (child.Childs != null)
        {
            <tr class="parent nested" data-level="@depth">
                <td>
                    <span class="caret ml-@(depth*3>5?5:depth*3)"><span class="badge badge-info mr-1">@child.Childs?.Count</span>@child.DisplayName</span>
                </td>

                <td>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#DepartmentsEdit" data-url="@Url.Action("DepartmentEdit", new { id = child.Id })">
                            <i class="fa fa-pen"></i>
                        </button>
                        <button type="submit" class="btn btn-danger ml-1" data-url="@Url.Action("DepartmentDelete", new { id = child.Id })">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>

            foreach (var item in child.Childs)
            {
                Test(item, depth + 1);

                @*if (item.Childs != null)
                {
                    Test(item, depth + 1);
                }
                else
                {
                    <tr class="nested" data-level="@(depth + 1)">
                        <td>
                            <span class="ml-@((depth+1)*3>5?5:(depth+1)*3)">@item.DisplayName</span>
                        </td>

                        <td>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#DepartmentsEdit" data-url="@Url.Action("DepartmentEdit", new { id = item.Id })">
                                    <i class="fa fa-pen"></i>
                                </button>
                                <button type="submit" class="btn btn-danger ml-1" onclick="location.href='@Url.Action("DepartmentDelete", new { id = item.Id })'">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }*@
            }
        }
        else
        {
            <tr class="nested" data-level="@(depth)">
                <td>
                    <span class="ml-@(depth*3>5?5:depth*3)">@child.DisplayName</span>
                </td>

                <td>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#DepartmentsEdit" data-url="@Url.Action("DepartmentEdit", new { id = child.Id })">
                            <i class="fa fa-pen"></i>
                        </button>
                        <button type="submit" class="btn btn-danger ml-1" data-url="@Url.Action("DepartmentDelete", new { id = child.Id })">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    }
}

@*@functions
    {
        void Test(Department item)
        {
        <tr class="@((item.Childs!=null && item.Childs.Count>0) ? "parent":"") @(item.ParentId != null ? "nested":"")">
            <td>
                <span class="caret"><span class="badge badge-info mr-1">@item.Childs?.Count</span>@item.DisplayName</span>
            </td>

            <td>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#DepartmentsEdit" data-url="@Url.Action("DepartmentEdit", new { id = item.Id })">
                        <i class="fa fa-pen"></i>
                    </button>
                    <button type="submit" class="btn btn-danger ml-1" data-url="@Url.Action("DepartmentDelete", new { id = item.Id })">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
            if(item.Childs!= null)
            {
                foreach(var Child in item.Childs)
                {
                    Test(Child);
                }
            }
        }
    }
    <section class="component-section">

        <div id="placeholder"></div>
        <div class="row-container-left bg-blue with-padding">
            <button type="button" class="transparent-btn" data-toggle="modal-toggler" data-target="#DepartmentEdit" data-url="@Url.Action("DepartmentCreate")">
                <i class="fa fa-plus color-white"></i>
                <p class="color-white">Создать</p>
            </button>
        </div>

        <div class="margin-between-above">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <p>
                                Отображаемое название
                            </p>
                        </th>

                        <th width="300">
                            <p class="text-center">
                                Изменить/Удалить
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Departments)
                    {
                    <tr class="parent">
                        <td>
                            <span class="caret"><span class="badge badge-info mr-1">@item.Childs?.Count</span>@item.DisplayName</span>
                        </td>

                        <td>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#DepartmentsEdit" data-url="@Url.Action("DepartmentEdit", new { id = item.Id })">
                                    <i class="fa fa-pen"></i>
                                </button>
                                <button type="submit" class="btn btn-danger ml-1" data-url="@Url.Action("DepartmentDelete", new { id = item.Id })">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>

                    </tr>

                    @if (item.Childs != null && item.Childs.Count > 0)
                        {
                            foreach (var child in item.Childs)
                            {
                            <tr class="nested">
                                <td>
                                    <span>@child.DisplayName</span>
                                </td>

                                <td>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#DepartmentsEdit" data-url="@Url.Action("DepartmentEdit", new { id = child.Id })">
                                            <i class="fa fa-pen"></i>
                                        </button>
                                        <button type="submit" class="btn btn-danger ml-1" data-url="@Url.Action("DepartmentDelete", new { id = child.Id })">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>


    </section>*@




@* MOCK *@
<section class="component-section">
    <div id="placeholder"></div>
    <div class="row-container-left bg-blue">
        <ul class="ul-list-left-aligned">
            <li class="li-text-white">
                <button type="button" class="btn btn-light" data-toggle="modal-toggler" data-target="#ObjectEdit" data-url="@Url.Action("DepartmentCreate")">
                    <i class="fa fa-plus"></i> Создать
                </button>
            </li>
        </ul>
    </div>

    <div class="margin-between-above">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <p>
                            Отображаемое название
                        </p>
                    </th>

                    <th width="300">
                        <p class="text-center">
                            Изменить/Удалить
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @*ViewBag.Departments*@
                @foreach (var item in ViewBag.Departments)
                {
                    int depth = 0;


                    if (item.Childs == null)
                    {
                        <tr data-level="@depth">
                            <td>
                                <span>@(string.IsNullOrEmpty(item.DisplayName) ? "Empty name" : item.DisplayName)</span>
                            </td>

                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#DepartmentsEdit" data-url="@Url.Action("DepartmentEdit", new { id = item.Id })">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger ml-1" data-url="@Url.Action("DepartmentDelete", new { id = item.Id })">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="parent" data-level="@depth">
                            <td>
                                <span class="caret"><span class="badge badge-info mr-1">@item.Childs?.Count</span>@item.DisplayName</span>
                            </td>

                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#DepartmentsEdit" data-url="@Url.Action("DepartmentEdit", new { id = item.Id })">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger ml-1" data-url="@Url.Action("DepartmentDelete", new { id = item.Id })">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>

                        foreach (var element in item.Childs)
                            Test(element, depth + 1);
                    }
                }
            </tbody>
        </table>
    </div>
</section>
