@model O2GEN.Models.DeskModels.ObjectListModel
@{
    ViewData["Title"] = "Объекты";
}
<section class="component-section">

    <div id="placeholder"></div>
    <div class="row-container-left bg-blue with-padding">
        <button type="button" class="transparent-btn" data-toggle="modal-toggler" data-target="#ObjectEdit" data-url="@Url.Action("ObjectCreate")">
            <i class="fa fa-plus color-white"></i>
            <p class="color-white">Создать</p>
        </button>
    </div>

    <div class="margin-between-above">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <p>
                            Отображаемое название
                        </p>
                    </th>
                    <th>
                        <p>
                            Индекс Максимо
                        </p>
                    </th>
                    <th>
                        <p>
                            Статус объекта
                        </p>
                    </th>
                    <th>
                        <p>
                            Описание
                        </p>
                    </th>
                    <th width="300">
                        <p class="text-center">
                            Изменить/Удалить
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Objects)
                {
                    <tr class="parent">
                        <td>
                            <ul class="ul-list-left-aligned-colum color-black">
                                <li>
                                    <span class="caret"><span class="badge badge-info mr-1">@item.Childs?.Count</span>@item.DisplayName</span>
                                </li>
                            </ul>
                        </td>

                        <td>
                            <p>@item.Maximo</p>
                        </td>

                        <td>
                            <p>@item.Status</p>
                        </td>

                        <td>
                            <p>@item.Description</p>
                        </td>

                        <td>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#ObjectEdit" data-url="@Url.Action("ObjectEdit", new { id = item.Id })">
                                    <i class="fa fa-pen"></i>
                                </button>
                                <button type="submit" class="btn btn-danger ml-1" data-url="@Url.Action("ObjectDelete", new { id = item.Id })">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    @if (item.Childs != null && item.Childs.Count > 0)
                    {
                        foreach (var child in item.Childs)
                        {
                            <tr class="nested">
                                <td>
                                    <ul class="ul-list-left-aligned-colum color-black">
                                        <li>
                                            <span>@child.DisplayName</span>
                                        </li>
                                    </ul>
                                </td>

                                <td>
                                    <p>@child.Maximo</p>
                                </td>

                                <td>
                                    <p>@child.Status</p>
                                </td>

                                <td>
                                    <p>@child.Description</p>
                                </td>

                                <td>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#ObjectEdit" data-url="@Url.Action("ObjectEdit", new { id = child.Id })">
                                            <i class="fa fa-pen"></i>
                                        </button>
                                        <button type="submit" class="btn btn-danger ml-1" data-url="@Url.Action("ObjectDelete", new { id = child.Id })">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            }
                        }
                    }
                </tbody>
        </table>
    </div>

</section>