@model O2GEN.Models.Asset

<div class="modal fade" id="ObjectEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.Id == -1)
                {
                    <h5>Новая запись</h5>
                }
                else
                {
                    <h5>Изменить запись №@Model.Id</h5>
                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form action="ObjectUpdate" method="post">
                <div class="modal-body">
                    <ul class="nav nav-tabs top-margin">
                        <li class="nav-item active">
                            <a class="nav-link text-black-50 active" href="#obj-tab" data-toggle="tab">Объект</a>
                        </li>
                        <li class="nav-item controls-tab chld-fadable">
                            <a class="nav-link text-black-50" href="#control-tab" data-toggle="tab">Контроли</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light">
                        <div id="obj-tab" class="tab-pane active">
                            <div class="p-3 color-black">
                                @{
                                    var parameters = O2GEN.Helpers.DBHelper.GetControls();
                                }
                                @Html.Hidden("Id", Model.Id)
                                @Html.Hidden("ObjectUID", Model.ObjectUID)
                                <div class="form-group">
                                    <div class="form-group">
                                        <label asp-for="DisplayName"></label>
                                        <input asp-for="DisplayName" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AssetSortId"></label>
                                        <select asp-for="AssetSortId" class="form-control" required onchange="AssetSortFade(); GetAssetControls();">
                                            <option value="NULL" selected disabled>Выбрать значение</option>
                                            @foreach (AssetSort item in O2GEN.Helpers.DBHelper.GetAssetSorts())
                                            {
                                                <option value="@item.Id">@item.DisplayName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DepartmentId"></label>
                                        <select asp-for="DepartmentId" class="form-control" required onchange="GetAssetsNodes(this); GetAssetControls();">
                                            <option value="NULL" selected disabled>Выбрать значение</option>
                                            @foreach (Department item in O2GEN.Helpers.DBHelper.GetChildDepartments((long)((Credentials)Context.Items["User"]).DeptId))
                                            {
                                                <option value="@item.Id">@item.DisplayName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group par-fadable">
                                        <label asp-for="AssetStateId"></label>
                                        <select asp-for="AssetStateId" class="form-control" required">
                                            @{
                                                var States = O2GEN.Helpers.DBHelper.GetAssetStates();
                                                @if (Model.AssetStateId == null)
                                                {
                                                    <option value="null" selected>Выбрать статус</option>
                                                }
                                                else
                                                {
                                                    <option value="null">Нет</option>
                                                }
                                                @for (int i = 0; i < States.Count; i++)
                                                {
                                                    if (i == Model.AssetStateId)
                                                    {
                                                        <option value="@States[i].Id" selected>@States[i].DisplayName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@States[i].Id">@States[i].DisplayName</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group chld-fadable">
                                        <label asp-for="ParentId"></label>
                                        <select asp-for="ParentId" class="form-control">
                                            @if (Model.ParentId == null && Model.DepartmentId == null)
                                            {
                                                <option value="null" selected disabled>Необходимо выбрать подразделение</option>
                                            }
                                            else
                                            {
                                                if (Model.ParentId == null)
                                                {
                                                    <option selected disabled>Выберите значение</option>
                                                }
                                                foreach (var item in O2GEN.Helpers.DBHelper.GetAssets(DeptID: Model.DepartmentId, NotesOnly: true))
                                                {
                                                    if (item.Id == Model.Id) continue;
                                                    if (Model.ParentId == item.Id)
                                                    {
                                                        <option value="@item.Id" selected>@item.DisplayName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Id">@item.DisplayName</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Maximo"></label>
                                        <input asp-for="Maximo" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="control-tab" class="tab-pane">

                            @{
                                if (Model.ParentId != null && Model.Id > 0)
                                {Html.RenderPartial("ObjectControlsEdit", Model);}
                                else
                                {
                                    <div class="margin-between-above" style="height:500px; overflow:auto;">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <p>Название</p>
                                                    </th>

                                                    <th>
                                                        <p>Группа</p>
                                                    </th>

                                                    <th>
                                                        <p>Использовать</p>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="3">Нет контролей для выбранного подразделения.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            }

                            @*<div id="Selected" style="visibility:collapse;">
            @for (int i = 0; i < Model.Parameters.Count; i++)
            {
                <input id="Parameters[@i]" name="Parameters[@i]" type="hidden" value="@Model.Parameters[i]">
            }
        </div>
        <div class="form-row pt-3">
            <div class="form-group col-md-5">
                <input class="form-control mb-1" id="myInput1" type="text" placeholder="Поиск">
                <select multiple class="form-control" formtarget="_blank" id="SelectList1" style="height: 400px">
                    @foreach (Control item in parameters)
                    {
                        if (!Model.Parameters.Contains(item.Id))
                        {
                            <option value="@item.Id">@item.DisplayName @(string.IsNullOrEmpty(item.Description)?"":$" ({item.Description})")</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-md-2 text-center">
                <button type="button" class="btn btn-light mb-1" id="right"><i class="fa fa-arrow-right"></i></button>
                <br />
                <button type="button" class="btn btn-light" id="left"><i class="fa fa-arrow-left"></i></button>
            </div>
            <div class="form-group col-md-5">
                <input class="form-control mb-1" id="myInput2" type="text" placeholder="Поиск">
                <select multiple class="form-control" formtarget="_blank" id="SelectList2" style="height:400px">
                    @foreach (var item in parameters)
                    {
                        if (Model.Parameters.Contains(item.Id))
                        {
                            <option value="@item.Id">@item.DisplayName  @(string.IsNullOrEmpty(item.Description)?"":$" ({item.Description})")</option>
                        }
                    }
                </select>
            </div>
        </div>*@
                        </div>
                            </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        @*<button type="submit" class="btn btn-primary" data-save="modal">Сохранить</button>*@
                        <button type="button" class="btn btn-primary" onclick="$('#SaveChangesModal').modal('show')">Сохранить</button>
                    </div>
                </div>
            </form>
            @Html.Partial("ModalBlock")
        </div>
    </div>
</div>

@Html.Partial("ModalSaveAccept")