@model O2GEN.Models.DeskModels.ObjectListModel
@{
    ViewData["Title"] = "Объекты";
}
<section class="component-section">

    <div id="placeholder"></div>
    <div class="row-container-left bg-blue with-padding">
        <button class="transparent-btn">
            <i class="fa fa-plus color-white"></i>
            <p class="color-white">Создать</p>
        </button>
    </div>

    <div class="margin-between-above">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <p>
                            Отображаемое название
                        </p>
                    </th>

                    <th>
                        <p>
                            Индекс Максимо
                        </p>
                    </th>

                    <th>
                        <p>
                            Статус объекта
                        </p>
                    </th>

                    <th>
                        <p>
                            Описание
                        </p>
                    </th>

                    <th>
                        <p>

                        </p>
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Objects)
                {
                    <tr>
                        <td>
                            <ul class="ul-list-left-aligned-colum color-black">
                                <li>
                                    <span class="caret">@item.DisplayName</span>
                                    <ul class="nested">
                                        @if (item.Childs != null)
                                        {
                                            foreach (var md in item.Childs)
                                            {
                                                <li>@md.DisplayName</li>
                                            }
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </td>

                        <td>
                            <p>@item.Maximo</p>
                        </td>

                        <td>
                            <p>@item.Status</p>
                        </td>

                        <td>
                            <p>@item.Description</p>
                        </td>

                        <td>
                            <div class="fa-container-links-centered">
                                <button type="button" class="transparent-btn" data-toggle="modal-toggler" data-target="#ObjectEdit" data-url="@Url.Action("ObjectEdit", new { id = item.Id })">
                                    <i class="fa fa-pen"></i>
                                </button>
                                <a href="#">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>

</section>