@model O2GEN.Models.AssetParameterSet

<div class="modal fade" id="DepartmentsEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.Id == -1)
                {
                    <h5>Новая запись</h5>
                }
                else
                {
                    <h5>Изменить запись №@Model.Id</h5>
                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form action="RouteUpdate" method="post">
                @Html.Hidden("Id", Model.Id)
                @Html.Hidden("ObjectUID", Model.ObjectUID)
                <div class="modal-body">
                    <ul class="nav nav-tabs top-margin">
                        <li class="nav-item active">
                            <a class="nav-link text-black-50 active" href="#major-tab" data-toggle="tab">Основные</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black-50" href="#techpos-tab" data-toggle="tab">Тех. позиции</a>
                        </li>
                    </ul>

                    <div class="tab-content bg-light">

                        <div id="major-tab" class="tab-pane active p-1 color-black">
                            <div class="form-group">
                                <label asp-for="DisplayName"></label>
                                <input asp-for="DisplayName" class="form-control" placeholder="Название" />
                                <span asp-validation-for="DisplayName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DepartmentID"></label>
                                <select asp-for="DepartmentID" class="form-control" onchange="GetAssets(this); AddAssetByDept(this);">
                                    <option selected disabled>Выбрать</option>
                                    @foreach (Department item in O2GEN.Helpers.DBHelper.GetChildDepartments((long)((Credentials)Context.Items["User"]).DeptId))
                                    {
                                    <option value="@item.Id">@item.DisplayName</option>
                                    }
                                </select>
                                <span asp-validation-for="DepartmentID" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="techpos-tab" class="tab-pane p-1 color-black">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <select class="form-control" id="Assets">
                                        @if (Model.Id == -1)
                                        {
                                            <option value="null" selected disabled>Необходимо выбрать подразделение</option>
                                        }
                                        else
                                        {
                                            <option value="null" selected disabled>Выбрать добавляемый объект</option>
                                            foreach (var item in O2GEN.Helpers.DBHelper.GetSimpleAssets(null, Model.DepartmentID))
                                            {
                                                <option value="@item.Id">@item.DisplayName</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <button type="button" class="btn btn-outline-primary" onclick="AddAsset()">Добавить</button>
                                </div>
                            </div>
                            <div class="margin-between-above" id="tableContainer" style="height:500px; overflow:auto;">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                <p>Название</p>
                                            </th>

                                            <th width="150px">
                                                <p>Удалить</p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="SelectedAssets">
                                        @if (Model.Childs.Count == 0)
                                        {
                                            <tr class="nodata"><td colspan="2">Нет данных.</td></tr>
                                        }
                                        else
                                        {
                                            for (int i = 0; i < Model.Childs.Count; i++)
                                            {
                                                if (Model.Childs[i].Childs == null || Model.Childs[i].Childs.Count == 0)
                                                {
                                                    <tr data-level="0">
                                                        <td>
                                                            <span>@Model.Childs[i].DisplayName</span>
                                                            <input type="text" style="display: none;" name="Childs[@i].Id" value="@Model.Childs[i].Id" />
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <button type="button" class="btn btn-danger ml-1" onclick="RemoveNode(this)">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr class="parent" data-level="0">
                                                        <td>
                                                            <span class="caret"><span class="badge badge-info mr-1">@Model.Childs[i].Childs.Count</span>@Model.Childs[i].DisplayName</span>
                                                            <input type="text" style="display: none;" name="Childs[@i].Id" value="@Model.Childs[i].Id" />
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <button type="button" class="btn btn-danger ml-1" onclick="RemoveNode(this)">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    for (int j = 0; j < Model.Childs[i].Childs.Count; j++)
                                                    {
                                                        if (Model.Childs[i].Childs[j].Childs == null || Model.Childs[i].Childs[j].Childs.Count == 0)
                                                        {
                                                            <tr class="nested" data-level="2">
                                                                <td>
                                                                    <span class="ml-3">@Model.Childs[i].Childs[j].DisplayName</span>
                                                                    <input type="text" style="display: none;" name="Childs[@i].Childs[j].Id" value="@Model.Childs[i].Childs[j].Id" />
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex justify-content-center">
                                                                        <button type="button" class="btn btn-danger ml-1" onclick="RemoveNode(this)">
                                                                            <i class="fa fa-trash"></i>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            <tr class="nested parent" data-level="1">
                                                                <td>
                                                                    <span class="ml-3 caret"><span class="badge badge-info mr-1">@Model.Childs[i].Childs[j].Childs.Count</span>@Model.Childs[i].Childs[j].DisplayName</span>
                                                                    <input type="text" style="display: none;" name="Childs[@i].Childs[@j].Id" value="@Model.Childs[i].Childs[j].Id" />
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex justify-content-center">
                                                                        <button type="button" class="btn btn-danger ml-1" onclick="RemoveNode(this)">
                                                                            <i class="fa fa-trash"></i>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            for (int k = 0; k < Model.Childs[i].Childs[j].Childs.Count; k++)
                                                            {
                                                                <tr class="nested" data-level="2">
                                                                    <td>
                                                                        <span class="ml-5">@Model.Childs[i].Childs[j].Childs[k].DisplayName</span>
                                                                        <input type="text" style="display: none;" name="Childs[@i].Childs[@j].Childs[@k].Id" value="@Model.Childs[i].Childs[j].Childs[k].Id" />
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex justify-content-center">
                                                                            <button type="button" class="btn btn-danger ml-1" onclick="RemoveNode(this)">
                                                                                <i class="fa fa-trash"></i>
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" onclick="$('#SaveChangesModal').modal('show')">Сохранить</button>
                </div>
            </form>
            @Html.Partial("ModalBlock")
        </div>
    </div>
</div>

@Html.Partial("ModalSaveAccept")