@model IEnumerable<O2GEN.Controllers.TestClass>

@*@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/css/vendor.bundle.css" />*@
<style>
    /*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border:1px solid $silver-color;
    -webkit-box-shadow:0px 1000px white inset;
}*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #333; }

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  /*your box-shadow*/
  -webkit-text-fill-color: #333; }

.fa {
    color:white;
}

.ul-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .ul-list li {
    margin: 0 5px; }
    .ul-list li a {
      color: white; }
  .ul-list > li.logout-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5px; }
    .ul-list > li.logout-form p {
      color: white;
      text-align: center;
      margin: 0px; }

.ul-list-left-aligned {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin:0px;
  color:white;
  padding: 7px; }
  .ul-list-left-aligned li {
    margin: 0 10px;
    display: inline-flex; }
    .ul-list-left-aligned li .fa {
      align-self: center;
      color: white;
      margin: 0 5px; }

    .li-text-white {
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .li-text-white p {
        color: white;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        font-weight: 100;
        line-height: 1em;
        margin:0px;
        padding:7px;

    }

    .li-text-white i {
        align-self:center;
    }

.section {
  padding-top: 20px; }

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.row-container-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items:center;
}

.row-div-two {
  float: left;
  width: 48%;
  padding: 5px;
  flex-grow: 1; }

.content-div {
  padding: 40px; }
  .content-div > h1, .content-div h2, .content-div h3, .content-div h4, .content-div h5, .content-div h6, .content-div h7 {
    color: black;
    text-align: center; }
  .content-div p {
    font-size: 18px;
    color: black; }

.component-section {
  padding: 0; }

.bg-blue {
  background: #0074D9; }

.transparent-btn {
  background: transparent;
  border: 0px;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  align-items:center;
  color:white;
}
  .transparent-btn:hover{
    color: #b9dce0; }
/*    .transparent-btn:hover .fa {
      color: #b9dce0; }*/

.fa-container-links-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.top-margin {
  margin: 5px 0 0 0; }

.bg-light {
    color:white;
}

.nav-link {
    background-color:lightgrey;
}

.nav-link.active {
    background-color:white;
}

p 
{
    color:white;
}

.color-white {
    color:white;
}

@@media screen and (max-width: 800px) {
  .row-container {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .content-img {
    width: 100%;
    height: 100%; } }

</style>

@*<nav>
    <ul class="ul-list-left-aligned">
        <li class="li-text-white">
            <button class="transparent-btn">
                <em class="fa fa-bars"></em>
            </button>
        </li>

        <li class="li-text-white">
            <p>
                Главная
            </p>
        </li>
    </ul>
</nav>*@


<section class="component-section">
    <div class="row-container-left">
        <ul class="ul-list-left-aligned">
            <li>
                <i class="fa fa-globe"></i>
            </li>
            <li>
                <i class="fa fa-redo"></i>
            </li>

            <li class="li-text-white">
                <p>
                    Сегодня
                </p>
            </li>
            <li class="li-text-white">
                <i class="fa fa-calendar"></i>
                <p>@DateTime.Now.ToString("dd'.'MM'.'yyyy")</p>
            </li>
        </ul>
    </div>

    <ul class="nav nav-tabs top-margin">
        <li class="nav-item active">
            <a class="nav-link text-black-50 active" href="#first-tab" data-toggle="tab">ЗПР выданные</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="#second-tab" data-toggle="tab">ЗПР в работе</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="#third-tab" data-toggle="tab">ЗПР закрытые</a>
        </li>
    </ul>

    <div class="tab-content">

        <div id="first-tab" class="tab-pane active">
            <div class="row-container-left">
                <ul class="ul-list-left-aligned">
                    <li class="li-text-white">
                        <button class="transparent-btn">
                            <i class="fa fa-plus"></i>
                            <p>Создать</p>
                        </button>
                    </li>

                    <li class="li-text-white">
                        <button class="transparent-btn">
                            <i class="fa fa-filter"></i>
                            <p>Фильтры (0)</p>
                        </button>
                    </li>
                </ul>
            </div>

            <section>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                <p>@Html.DisplayNameFor(x => x.EquipmentType)</p>
                            </th>
                            <th>
                                <p>@Html.DisplayNameFor(x => x.Status)</p>
                            </th>
                            <th>
                                <p>@Html.DisplayNameFor(x => x.Type)</p>
                            </th>
                            <th>
                                <p>@Html.DisplayNameFor(x => x.Bypass)</p>
                            </th>
                            <th>
                                <p>@Html.DisplayNameFor(x => x.Bypasser)</p>
                            </th>
                            <th>
                                <p>@Html.DisplayNameFor(x => x.Start)</p>
                            </th>
                            <th>
                                <p>@Html.DisplayNameFor(x => x.End)</p>
                            </th>
                            <th>
                                <p>@Html.DisplayNameFor(x => x.Defect)</p>
                            </th>
                            <th>
                                <p>@Html.DisplayNameFor(x => x.Edit)</p>
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><p>@Html.DisplayFor(x => item.EquipmentType)</p></td>
                            <td><p>@Html.DisplayFor(x => item.Status)</p></td>
                            <td><p>@Html.DisplayFor(x => item.Type)</p></td>
                            <td><p>@Html.DisplayFor(x => item.Bypass)</p></td>
                            <td><p>@Html.DisplayFor(x => item.Bypasser)</p></td>
                            <td><p>@Html.DisplayFor(x => item.Start)</p></td>
                            <td><p>@Html.DisplayFor(x => item.End)</p></td>
                            <td><p>@Html.DisplayFor(x => item.Defect)</p></td>
                            <td>
                                <div class="fa-container-links-centered">
                                    <a href="#">
                                        <i class="fa fa-pen color-white"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-trash color-white"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </section>
        </div>

        <div id="second-tab" class="tab-pane fade">
            <div class="row-container-left">
                <ul class="ul-list-left-aligned">
                    <li class="li-text-white">
                        <button class="transparent-btn">
                            <i class="fa fa-plus"></i>
                            <p>Создать</p>
                        </button>
                    </li>

                    <li class="li-text-white">
                        <button class="transparent-btn">
                            <i class="fa fa-filter"></i>
                            <p>Фильтры (0)</p>
                        </button>
                    </li>
                </ul>
            </div>

            <section>
                <table>
                    2
                    @* foreach loop here *@
                </table>
            </section>
        </div>

        <div id="third-tab" class="tab-pane fade">
            <div class="row-container-left">
                <ul class="ul-list-left-aligned">
                    <li class="li-text-white">
                        <button class="transparent-btn">
                            <i class="fa fa-plus"></i>
                            <p>Создать</p>
                        </button>
                    </li>

                    <li class="li-text-white">
                        <button class="transparent-btn">
                            <i class="fa fa-filter"></i>
                            <p>Фильтры (0)</p>
                        </button>
                    </li>
                </ul>
            </div>

            <section>
                <table>
                    3
                    @* foreach loop here *@
                </table>
            </section>
        </div>
    </div>
</section>
