@* DEFECTS REPORT  *@

@model O2GEN.Models.HomeModels.DefectReportListModel
@{
    ViewData["Title"] = "Дефекты";
}
<section>
    <div class="column-container" >

        <div class="margin-between-above">
            <label>Подразделения</label>
            <select class="form-control">
                @foreach (Department item in O2GEN.Helpers.DBHelper.GetChildDepartments((long)((Credentials)Context.Items["User"]).DeptId))
                {
                    <option value="@item.Id">@item.DisplayName</option>
                }
            </select>
        </div>

        <div class="margin-between-above">
            <label for="techposition">Тех. позиция</label>
            <select class="form-control form-control-lg" id="techposition">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>

        <div class="margin-between-above">
            <label for="route">Статус</label>
            <select class="form-control form-control-lg" id="route">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>

        <div class="row-container">
            <p>Сформировать</p>
            <button class="transparent-btn">
                <i class="fa fa-file-excel color-black"></i>
                <p>
                    Выгрузить в excel
                </p>
            </button>
        </div>

    </div>

    <div class="margin-between-above">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <p>
                            Тех.позиция
                        </p>
                    </th>

                    <th>
                        <p>
                            Узел
                        </p>
                    </th>

                    <th>
                        <p>
                            Статус дефекта
                        </p>
                    </th>

                    <th>
                        <p>
                            Тип дефекта
                        </p>
                    </th>

                    <th>
                        <p>
                            Контроль
                        </p>
                    </th>

                    <th>
                        <p>
                            Значение
                        </p>
                    </th>

                    <th>
                        <p>
                            Дефект обнаружил
                        </p>
                    </th>

                    <th>
                        <p>
                            Дефект обработал
                        </p>
                    </th>

                    <th>
                        <p>
                            Время обнаружения
                        </p>
                    </th>

                    <th>
                        <p>
                            Описание
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Data != null)
                {
                    @foreach (var item in ViewBag.Data)
                    {
                        <tr>
                            <td>
                                <p>
                                    @item.TechPos
                                </p>
                            </td>

                            <td>
                                <p>
                                    @item.Node
                                </p>
                            </td>

                            <td>
                                <p>
                                    @item.Status
                                </p>
                            </td>

                            <td>
                                <p>
                                    @item.DefectType
                                </p>
                            </td>

                            <td>
                                <p>
                                    @item.Control
                                </p>
                            </td>

                            <td>
                                <p>
                                    @item.Value
                                </p>
                            </td>

                            <td>
                                <p>
                                    @item.DefectFoundedBy
                                </p>
                            </td>

                            <td>
                                <p>
                                    @item.DefectProceededBy
                                </p>
                            </td>

                            <td>
                                <p>
                                    @item.DateDetected
                                </p>
                            </td>

                            <td>
                                <p>
                                    @item.Description
                                </p>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</section>