@model O2GEN.Models.ZRPFilter

@* Home *@

<section class="component-section">
    @*<div class="row-container-left">
            <ul class="ul-list-left-aligned">
                <li>
                    <i class="fa fa-globe"></i>
                </li>
                <li>
                    <i class="fa fa-redo"></i>
                </li>

                <li class="li-text-white">
                    <p>
                        Сегодня
                    </p>
                </li>
                <li class="li-text-white">
                    <i class="fa fa-calendar"></i>
                    <p>@DateTime.Now.ToString("dd'.'MM'.'yyyy")</p>
                </li>
            </ul>
        </div>*@
    <div class="row-container-left bg-blue">
        <form action="Index" method="post">

            <input asp-for="From" style="display:none" />
            <input asp-for="To" style="display:none" />
            <ul class="ul-list-left-aligned">
                <li class="li-text-white">
                    <button type="button" class="btn btn-light" data-toggle="modal-toggler" data-target="#ZRPEdit" data-url="@Url.Action("ZRPCreate")">
                        <i class="fa fa-plus"></i> Создать
                    </button>
                </li>

                <li class="li-text-white">
                    <button class="transparent-btn">
                        <i class="fa fa-filter color-white"></i>
                        <p class="color-white">Фильтры (0)</p>
                    </button>
                </li>


                <li class="li-text-white">
                    <button class="btn btn-light" type="button" id="SetToday">
                        <i class="fa fa-calendar-day"></i>
                        Сегодня
                    </button>
                </li>

                <li class="li-text-white mr-0">
                    От:
                </li>
                <li class="li-text-white ml-0">
                    <div class="input-group date col-auto" id="datetimepickerFROM" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepickerFROM" id="DTPFROM" style="width:150px;" />
                        <div class="input-group-append" data-target="#datetimepickerFROM" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </li>
                <li class="li-text-white mr-0">
                    До:
                </li>
                <li class="li-text-white ml-0">
                    <div class="input-group date col-auto" id="datetimepickerTO" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepickerTO" id="DTPTO" style="width:150px;" />
                        <div class="input-group-append" data-target="#datetimepickerTO" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </li>

                <li class="li-text-white">
                    <select asp-for="DepartmentId" class="form-control" required>
                        <option value="NULL" selected>Выбрать значение</option>
                        @foreach (Department item in O2GEN.Helpers.DBHelper.GetChildDepartments())
                        {
                            <option value="@item.Id">@item.DisplayName</option>
                        }
                    </select>
                </li>
                <li class="li-text-white">
                    <button class="btn btn-light" type="submit">
                        <i class="fa fa-search"></i> Поиск
                    </button>
                </li>
            </ul>
        </form>
    </div>

    @* strange stuff *@
    <div id="placeholder"></div>

    <ul class="nav nav-tabs top-margin">
        <li class="nav-item active">
            <a class="nav-link text-black-50 active" href="#first-tab" data-toggle="tab">ЗПР выданные</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="#second-tab" data-toggle="tab">ЗПР в работе</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="#third-tab" data-toggle="tab">ЗПР закрытые</a>
        </li>
    </ul>

    <div class="tab-content bg-light">

        <div id="first-tab" class="tab-pane active">


            <section>
                <table class="table table-bordered table-hover">
                    <thead class="color-black">
                        <tr>
                            <th>
                                <p>Тип оборудований</p>
                            </th>
                            <th>
                                <p>Статус обхода</p>
                            </th>
                            <th>
                                <p>Тип обхода</p>
                            </th>
                            <th>
                                <p>Обход</p>
                            </th>
                            <th>
                                <p>Обходчик</p>
                            </th>
                            <th>
                                <p>Дата начала (план)</p>
                            </th>
                            <th>
                                <p>Дата окончания (план)</p>
                            </th>
                            <th>
                                <p>Дефект</p>
                            </th>
                            <th>
                                <p>Редактирование</p>
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in ViewBag.ZRPCreated)
                    {
                        <tr>
                            <td><p>@item.ObjName</p></td>
                            <td><p>@item.SCStatusName</p></td>
                            <td><p>@item.SCTypeName</p></td>
                            <td><p>@item.RouteName</p></td>
                            <td><p>@item.ResName</p></td>
                            <td><p>@item.StartTime.ToString()</p></td>
                            <td><p>@item.EndTime.ToString()</p></td>
                            <td><p> </p></td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#ZRPEdit" data-url="@Url.Action("ZRPEdit", new { id = item.Id })">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger ml-1" onclick="location.href='@Url.Action("ZRPDelete", new { id = item.Id })'">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </section>
        </div>

        <div id="second-tab" class="tab-pane fade">


            <section>
                <table class="table table-bordered table-hover">
                    <thead class="color-black">
                        <tr>
                            <th>
                                <p>Тип оборудований</p>
                            </th>
                            <th>
                                <p>Статус обхода</p>
                            </th>
                            <th>
                                <p>Тип обхода</p>
                            </th>
                            <th>
                                <p>Обход</p>
                            </th>
                            <th>
                                <p>Обходчик</p>
                            </th>
                            <th>
                                <p>Дата начала (план)</p>
                            </th>
                            <th>
                                <p>Дата окончания (план)</p>
                            </th>
                            <th>
                                <p>Дефект</p>
                            </th>
                            <th>
                                <p>Редактирование</p>
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in ViewBag.ZRPStarted)
                    {
                        <tr>
                            <td><p>@item.ObjName</p></td>
                            <td><p>@item.SCStatusName</p></td>
                            <td><p>@item.SCTypeName</p></td>
                            <td><p>@item.RouteName</p></td>
                            <td><p>@item.ResName</p></td>
                            <td><p>@item.StartTime.ToString()</p></td>
                            <td><p>@item.EndTime.ToString()</p></td>
                            <td><p> </p></td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#ZRPEdit" data-url="@Url.Action("ZRPEdit", new { id = item.Id })">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger ml-1" onclick="location.href='@Url.Action("ZRPDelete", new { id = item.Id })'">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </section>

        </div>

        <div id="third-tab" class="tab-pane fade">


            <section>
                <table class="table table-bordered table-hover">
                    <thead class="color-black">
                        <tr>
                            <th>
                                <p>Тип оборудований</p>
                            </th>
                            <th>
                                <p>Статус обхода</p>
                            </th>
                            <th>
                                <p>Тип обхода</p>
                            </th>
                            <th>
                                <p>Обход</p>
                            </th>
                            <th>
                                <p>Обходчик</p>
                            </th>
                            <th>
                                <p>Дата начала (план)</p>
                            </th>
                            <th>
                                <p>Дата окончания (план)</p>
                            </th>
                            <th>
                                <p>Дефект</p>
                            </th>
                            <th>
                                <p>Редактирование</p>
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in ViewBag.ZRPEnded)
                    {
                        <tr>
                            <td><p>@item.ObjName</p></td>
                            <td><p>@item.SCStatusName</p></td>
                            <td><p>@item.SCTypeName</p></td>
                            <td><p>@item.RouteName</p></td>
                            <td><p>@item.ResName</p></td>
                            <td><p>@item.StartTime.ToString()</p></td>
                            <td><p>@item.EndTime.ToString()</p></td>
                            <td><p> </p></td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#ZRPEdit" data-url="@Url.Action("ZRPEdit", new { id = item.Id })">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger ml-1" onclick="location.href='@Url.Action("ZRPDelete", new { id = item.Id })'">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </section>
        </div>
    </div>

    <script type="text/javascript">


        $(document).ready(function () {
            InitializeDatePicker();
            //$.noConflict();
            $('#SetToday').click('click', SetTodayForTDTs);
        });
        function InitializeDatePicker() {

            @if (string.IsNullOrEmpty(Model.From))
            {
            <text>
                var d = new Date(moment().subtract(2, 'days'));
                var now = moment();
            </text>
            }
            else
            {
                <text>
                    var d = new Date(@Model.From);
                    var now = moment(@Model.To);
                </text>
            }
            $('#datetimepickerFROM').datetimepicker({
                locale: 'ru',
                icons: {
                    time: "fa fa-clock",
                    date: "fa fa-calendar-alt",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                date: new Date(d.getFullYear(), d.getMonth(), d.getDate())
            });

            $('#datetimepickerFROM').on("change.datetimepicker", dateFromChanged)

            $('#datetimepickerTO').datetimepicker({
                locale: 'ru',
                icons: {
                    time: "fa fa-clock",
                    date: "fa fa-calendar-alt",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
                });
            $("#datetimepickerTO").on("change.datetimepicker", ({ date }) => { $('#To').val(date._d.getTime()); });
            $('#datetimepickerTO').datetimepicker('date', now);
        }

        function SetTodayForTDTs() {
            //var d = new Date(moment().subtract(2, 'days'));
            //var now = new Date(moment());
            //var d = new Date();
            //console.log(now);
            //$('#datetimepickerFROM').datetimepicker({ locale: 'ru', date: new Date(d.getFullYear(), d.getMonth(), d.getDate()) })
            //$('#datetimepickerTO').datetimepicker({ locale: 'ru', date: now });

            //document.cookie = "ZRPDateFrom=" + d.getTime() + "; max-age=300000";
            //document.cookie = "ZRPDateTo=" + now + "; max-age=300000";
            //$.noConflict();

            var from = document.getElementById('DTPFROM');
            var date = new Date();
            date.setDate(date.getDate() - 2);
            from.value = formatDate(date);

            var to = document.getElementById('DTPTO');
            var toDate = new Date();
            to.value = formatDate(toDate);
        }

        function dateFromChanged({ date }) {
            $('#From').val(date._d.getTime());
        }

        function formatDate(date) {
            var month = date.getMonth();
            var day = date.getDate();
            var year = date.getFullYear();
            var hours = date.getHours();
            var minutes = date.getMinutes();

            return (day + '.' + month + '.' + year + ' ' + hours + ':' + minutes);
        }
    </script>
</section>


@*<style>

    </style>

    <nav class="navbar">

        <div class="container-fluid">
            <div class="row">

                <div class="form-inline">
                    <button type="button" id="earth" class="btn btn-info" style="background-color: steelblue">
                        <i class="fas fa-globe-americas"></i>
                    </button>
                    <div class="d-inline">&nbsp;</div>
                    <button type="button" id="reload" class="btn btn-info" style="background-color: steelblue">
                        <i class="fas fa-redo-alt"></i>
                    </button>
                    <label for="datetimepicker2">СЕГОДНЯ</label>
                    <div class="input-group date col-auto" id="datetimepicker2" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" id="itdtp2" style="width:150px;" />
                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Test" asp-controller="Test">Test page</a>
                    </div>
                </div>
            </div>
        </div>



    </nav>

    <nav class="navbar">

        <div class="container-fluid">
            <div class="row">

                <div class="d-flex justify-content-start">
                    <button type="button" class="btn btn-secondary">ЗПР в работе</button>
                    <div class="d-inline">&nbsp;</div>
                    <button type="button" class="btn btn-secondary">ЗПР выданные</button>
                    <div class="d-inline">&nbsp;</div>
                    <button type="button" class="btn btn-secondary">ЗПР закрытые</button>
                </div>
            </div>
        </div>



    </nav>
    <nav class="navbar">

        <div class="container-fluid">
            <div class="row">

                <div class="d-flex justify-content-start">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-plus"></i>Создать</button>

                    <div class="d-inline">&nbsp;</div>
                    <button type="button" class="btn btn-secondary"><i class="fas fa-filter"></i>Фильтры</button>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar">*@
@*<div class="container-fluid" style="max-width: 1500px; background-color: whitesmoke">
        <div class="row" style="max-width:1500px">

            <div class="col-sm">
                <table class="table table-bordered table-sm table-striped" style="background-color: whitesmoke">
                    <thead>
                        <tr>
                            <th scope="col">Тип оборудования</th>
                            <th scope="col">Статус обхода</th>
                            <th scope="col">Тип обхода</th>
                            <th scope="col">Обход</th>
                            <th scope="col">Обходчик</th>
                            <th scope="col">Дата начала(план)</th>
                            <th scope="col">Дата окончания(план)</th>
                            <th scope="col">Дефект</th>
                            <th scope="col">Редактирование</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>*@
@*</nav>*@



@*@if (User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>

        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Выход" />
        </form>
    }
    else
    {

        <a asp-controller="Account" asp-action="Login">Вход</a>
        <a asp-controller="Account" asp-action="Register">Регистрация</a>
    }*@
