@model O2GEN.Models.ReportModel

@* Home *@

<section class="component-section">
    @*<div class="row-container-left">
            <ul class="ul-list-left-aligned">
                <li>
                    <i class="fa fa-globe"></i>
                </li>
                <li>
                    <i class="fa fa-redo"></i>
                </li>

                <li class="li-text-white">
                    <p>
                        Сегодня
                    </p>
                </li>
                <li class="li-text-white">
                    <i class="fa fa-calendar"></i>
                    <p>@DateTime.Now.ToString("dd'.'MM'.'yyyy")</p>
                </li>
            </ul>
        </div>*@

    @* strange stuff *@
    <div id="placeholder"></div>

    <ul class="nav nav-tabs top-margin">
        <li class="nav-item active">
            <a class="nav-link text-black-50 active" href="#first-tab" data-toggle="tab">ЗПР выданные</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="#second-tab" data-toggle="tab">ЗПР в работе</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="#third-tab" data-toggle="tab">ЗПР закрытые</a>
        </li>
    </ul>

    <div class="tab-content bg-light">

        <div id="first-tab" class="tab-pane active">
            <div class="row-container-left bg-blue">
                <ul class="ul-list-left-aligned">
                    <li class="li-text-white">
                        <button type="button" class="transparent-btn" data-toggle="modal-toggler" data-target="#ZRPEdit" data-url="@Url.Action("ZRPCreate")">
                            <i class="fa fa-plus color-white"></i>
                            <p class="color-white">Создать</p>
                        </button>
                    </li>

                    <li class="li-text-white">
                        <button class="transparent-btn">
                            <i class="fa fa-filter color-white"></i>
                            <p class="color-white">Фильтры (0)</p>
                        </button>
                    </li>
                </ul>
            </div>

            <section>
                <table class="table table-bordered table-hover">
                    <thead class="color-black">
                        <tr>
                            <th>
                                <p>Тип оборудований</p>
                            </th>
                            <th>
                                <p>Статус обхода</p>
                            </th>
                            <th>
                                <p>Тип обхода</p>
                            </th>
                            <th>
                                <p>Обход</p>
                            </th>
                            <th>
                                <p>Обходчик</p>
                            </th>
                            <th>
                                <p>Дата начала (план)</p>
                            </th>
                            <th>
                                <p>Дата окончания (план)</p>
                            </th>
                            <th>
                                <p>Дефект</p>
                            </th>
                            <th>
                                <p>Редактирование</p>
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in ViewBag.ZRPCreated)
                    {
                        <tr>
                            <td><p>@item.ObjName</p></td>
                            <td><p>@item.SCStatusName</p></td>
                            <td><p>@item.SCTypeName</p></td>
                            <td><p>@item.RouteName</p></td>
                            <td><p>@item.ResName</p></td>
                            <td><p>@item.StartTime.ToString()</p></td>
                            <td><p>@item.EndTime.ToString()</p></td>
                            <td><p> </p></td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#ZRPEdit" data-url="@Url.Action("ZRPEdit", new { id = item.Id })">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger ml-1" onclick="location.href='@Url.Action("ZRPDelete", "Home", new { id = item.Id });'">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </section>
        </div>

        <div id="second-tab" class="tab-pane fade">

            <div class="row-container-left bg-blue">
                <ul class="ul-list-left-aligned">
                    <li class="li-text-white">
                        <button type="button" class="transparent-btn" data-toggle="modal-toggler" data-target="#addZpr" data-url="@Url.Action("CreateZpr")">
                            <i class="fa fa-plus color-white"></i>
                            <p class="color-white">Создать</p>
                        </button>
                    </li>

                    <li class="li-text-white">
                        <button class="transparent-btn">
                            <i class="fa fa-filter color-white"></i>
                            <p class="color-white">Фильтры (0)</p>
                        </button>
                    </li>
                </ul>
            </div>

            <section>
                <table class="table table-bordered table-hover">
                    <thead class="color-black">
                        <tr>
                            <th>
                                <p>Тип оборудований</p>
                            </th>
                            <th>
                                <p>Статус обхода</p>
                            </th>
                            <th>
                                <p>Тип обхода</p>
                            </th>
                            <th>
                                <p>Обход</p>
                            </th>
                            <th>
                                <p>Обходчик</p>
                            </th>
                            <th>
                                <p>Дата начала (план)</p>
                            </th>
                            <th>
                                <p>Дата окончания (план)</p>
                            </th>
                            <th>
                                <p>Дефект</p>
                            </th>
                            <th>
                                <p>Редактирование</p>
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in ViewBag.ZRPStarted)
                    {
                        <tr>
                            <td><p>@item.ObjName</p></td>
                            <td><p>@item.SCStatusName</p></td>
                            <td><p>@item.SCTypeName</p></td>
                            <td><p>@item.RouteName</p></td>
                            <td><p>@item.ResName</p></td>
                            <td><p>@item.StartTime.ToString()</p></td>
                            <td><p>@item.EndTime.ToString()</p></td>
                            <td><p> </p></td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#ZRPEdit" data-url="@Url.Action("ZRPEdit", new { id = item.Id })">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger ml-1" data-url="@Url.Action("ZRPDelete", "Home", new { id = item.Id })">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </section>

        </div>

        <div id="third-tab" class="tab-pane fade">

            <div class="row-container-left bg-blue">
                <ul class="ul-list-left-aligned">
                    <li class="li-text-white">
                        <button class="transparent-btn color-white">
                            <i class="fa fa-plus"></i>
                            <p>Создать</p>
                        </button>
                    </li>

                    <li class="li-text-white">
                        <button class="transparent-btn color-white">
                            <i class="fa fa-filter"></i>
                            <p>Фильтры (0)</p>
                        </button>
                    </li>
                </ul>
            </div>

            <section>
                <table class="table table-bordered table-hover">
                    <thead class="color-black">
                        <tr>
                            <th>
                                <p>Тип оборудований</p>
                            </th>
                            <th>
                                <p>Статус обхода</p>
                            </th>
                            <th>
                                <p>Тип обхода</p>
                            </th>
                            <th>
                                <p>Обход</p>
                            </th>
                            <th>
                                <p>Обходчик</p>
                            </th>
                            <th>
                                <p>Дата начала (план)</p>
                            </th>
                            <th>
                                <p>Дата окончания (план)</p>
                            </th>
                            <th>
                                <p>Дефект</p>
                            </th>
                            <th>
                                <p>Редактирование</p>
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in ViewBag.ZRPEnded)
                    {
                        <tr>
                            <td><p>@item.ObjName</p></td>
                            <td><p>@item.SCStatusName</p></td>
                            <td><p>@item.SCTypeName</p></td>
                            <td><p>@item.RouteName</p></td>
                            <td><p>@item.ResName</p></td>
                            <td><p>@item.StartTime.ToString()</p></td>
                            <td><p>@item.EndTime.ToString()</p></td>
                            <td><p> </p></td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#ZRPEdit" data-url="@Url.Action("ZRPEdit", new { id = item.Id })">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger ml-1" data-url="@Url.Action("ZRPDelete", new { id = item.Id })">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </section>
        </div>
    </div>

</section>


@*<style>

    </style>

    <nav class="navbar">

        <div class="container-fluid">
            <div class="row">

                <div class="form-inline">
                    <button type="button" id="earth" class="btn btn-info" style="background-color: steelblue">
                        <i class="fas fa-globe-americas"></i>
                    </button>
                    <div class="d-inline">&nbsp;</div>
                    <button type="button" id="reload" class="btn btn-info" style="background-color: steelblue">
                        <i class="fas fa-redo-alt"></i>
                    </button>
                    <label for="datetimepicker2">СЕГОДНЯ</label>
                    <div class="input-group date col-auto" id="datetimepicker2" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" id="itdtp2" style="width:150px;" />
                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Test" asp-controller="Test">Test page</a>
                    </div>
                </div>
            </div>
        </div>



    </nav>

    <nav class="navbar">

        <div class="container-fluid">
            <div class="row">

                <div class="d-flex justify-content-start">
                    <button type="button" class="btn btn-secondary">ЗПР в работе</button>
                    <div class="d-inline">&nbsp;</div>
                    <button type="button" class="btn btn-secondary">ЗПР выданные</button>
                    <div class="d-inline">&nbsp;</div>
                    <button type="button" class="btn btn-secondary">ЗПР закрытые</button>
                </div>
            </div>
        </div>



    </nav>
    <nav class="navbar">

        <div class="container-fluid">
            <div class="row">

                <div class="d-flex justify-content-start">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-plus"></i>Создать</button>

                    <div class="d-inline">&nbsp;</div>
                    <button type="button" class="btn btn-secondary"><i class="fas fa-filter"></i>Фильтры</button>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar">*@
@*<div class="container-fluid" style="max-width: 1500px; background-color: whitesmoke">
        <div class="row" style="max-width:1500px">

            <div class="col-sm">
                <table class="table table-bordered table-sm table-striped" style="background-color: whitesmoke">
                    <thead>
                        <tr>
                            <th scope="col">Тип оборудования</th>
                            <th scope="col">Статус обхода</th>
                            <th scope="col">Тип обхода</th>
                            <th scope="col">Обход</th>
                            <th scope="col">Обходчик</th>
                            <th scope="col">Дата начала(план)</th>
                            <th scope="col">Дата окончания(план)</th>
                            <th scope="col">Дефект</th>
                            <th scope="col">Редактирование</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>*@
@*</nav>*@



@*@if (User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>

        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Выход" />
        </form>
    }
    else
    {

        <a asp-controller="Account" asp-action="Login">Вход</a>
        <a asp-controller="Account" asp-action="Register">Регистрация</a>
    }*@
