@model O2GEN.Models.ZRPFilter
@{ ViewData["Title"] = "Главная"; }

<section class="">
    <div class="row-container-left bg-blue" id="pageToolbar" style="position:sticky">
        <form action="Index" method="post">
            <div class="d-flex flex-wrap m-2">
                <div class="mb-2 mr-2">
                    <button type="button" class="btn btn-light" data-toggle="modal-toggler" data-target="#ZRPEdit" data-url="@Url.Action("ZRPCreate")">
                        <i class="fa fa-plus"></i> Создать
                    </button>
                </div>
                <div class="mb-2 mr-2">
                    <button class="btn btn-light" type="button" onclick="SetTodayForTDTs($('#From'), $('#To'))">
                        <i class="fa fa-calendar-day"></i>
                        Сегодня
                    </button>
                </div>
                <span class="li-text-white mr-0">От:</span>
                <div class="mb-2">
                    <input id="From" type="datetime-local" value="@Model.From" name="From" class="datetime-css">
                </div>
                <span class="li-text-white mr-0">До:</span>
                <div class="mb-2">
                    <input id="To" type="datetime-local" value="@Model.To" name="To" class="datetime-css">
                </div>

                <div class="mb-2 mr-2">
                    <select asp-for="DepartmentId" class="form-control" required>
                        <option value="NULL" selected>Выбрать подразделение</option>
                        @foreach (Department item in O2GEN.Helpers.DBHelper.GetChildDepartments((long)((Credentials)Context.Items["User"]).DeptId))
                        {
                            <option value="@item.Id">@item.DisplayName</option>
                        }
                    </select>
                </div>
                <div class="mb-2 mr-2">
                    <input asp-for="DisplayName" class="form-control" placeholder="Название" />
                </div>
                <div class="mb-2 mr-2">
                    <button class="btn btn-light" type="submit">
                        <i class="fa fa-search"></i> Поиск
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="placeholder"></div>

    <ul class="nav nav-tabs top-margin">
        <li class="nav-item active">
            <a class="nav-link text-black-50 active" href="#second-tab" data-toggle="tab">Обходы завершенные</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="#first-tab" data-toggle="tab">Обходы в работе</a>
        </li>
    </ul>

    <div class="tab-content bg-light">

        <div id="first-tab" class="tab-pane fade">


            <section>
                <table class="table table-bordered table-hover">
                    <thead class="color-black">
                        <tr>
                            <th>
                                <p>Номер</p>
                            </th>
                            <th>
                                <p>Подразделение</p>
                            </th>
                            <th>
                                <p>Тип обхода</p>
                            </th>
                            <th>
                                <p>Обход</p>
                            </th>
                            <th>
                                <p>Должность</p>
                            </th>
                            <th>
                                <p>Обходчик</p>
                            </th>
                            <th>
                                <p>Дата начала (план)</p>
                            </th>
                            <th>
                                <p>Дата окончания (план)</p>
                            </th>
                            <th>
                                <p>Дефект</p>
                            </th>
                            <th>
                                <p>Редактирование</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ZRP item in ViewBag.ZRPInWork)
                        {
                        <tr>
                            <td><p>@item.Id</p></td>
                            <td><p>@item.ObjName</p></td>
                            <td><p>@item.SCTypeName</p></td>
                            <td><p>@item.RouteName</p></td>
                            <td><p>@item.ResName</p></td>
                            <td><p>@item.PerformerName</p></td>
                            <td><p>@item.StartTime.ToString()</p></td>
                            <td><p>@item.EndTime.ToString()</p></td>
                            <td><p>@item.DeffectNum</p></td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#ZRPEdit" data-url="@Url.Action("ZRPEdit", new { id = item.Id })">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger ml-1" onclick="changesModalShow('@Url.Action("ZRPDelete", new { id = item.Id })', 'Удаление', 'Вы действительно хотите удалить запись?');">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
}
                    </tbody>
                </table>
            </section>
        </div>

        <div id="second-tab" class="tab-pane  active">


            <section>
                <table class="table table-bordered table-hover">
                    <thead class="color-black">
                        <tr>
                            <th>
                                <p>Номер</p>
                            </th>
                            <th>
                                <p>Подразделение</p>
                            </th>
                            <th>
                                <p>Тип обхода</p>
                            </th>
                            <th>
                                <p>Обход</p>
                            </th>
                            <th>
                                <p>Должность</p>
                            </th>
                            <th>
                                <p>Обходчик</p>
                            </th>
                            <th>
                                <p>Дата начала (план)</p>
                            </th>
                            <th>
                                <p>Дата окончания (план)</p>
                            </th>
                            <th>
                                <p>Дефекты</p>
                            </th>
                            <th>
                                <p>Редактирование</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ZRPDone)
                        {
                        <tr>
                            <td><p>@item.Id</p></td>
                            <td><p>@item.ObjName</p></td>
                            <td><p>@item.SCTypeName</p></td>
                            <td><p>@item.RouteName</p></td>
                            <td><p>@item.ResName</p></td>
                            <td><p>@item.PerformerName</p></td>
                            <td><p>@item.StartTime.ToString()</p></td>
                            <td><p>@item.EndTime.ToString()</p></td>
                            <td><p>@item.DeffectNum</p></td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#ZRPEdit" data-url="@Url.Action("ZRPEdit", new { id = item.Id })">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger ml-1" onclick="changesModalShow('@Url.Action("ZRPDelete", new { id = item.Id })', 'Удаление', 'Вы действительно хотите удалить запись?');">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
}
                    </tbody>
                </table>
            </section>
        </div>
    </div>

    <script type="text/javascript">

        function GetResources(SelectedObj) {
            if (SelectedObj != 'undefined') {
                $.ajax({
                    method: "GET",
                    url: "GetResourcesByDepartmentJson",
                    dataType: "json",
                    data: {
                        "ObjId": SelectedObj.value
                    },
                    success: function (data) {
                        var s = '<option value="" selected disabled>Выбрать</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].id + '">' + data[i].displayName + '</option>';
                        }
                        $("#ResourceId").html(s);
                    }
                })
            }
        }
        function GetRoutes(SelectedObj) {
            if (SelectedObj != 'undefined') {
                $.ajax({
                    method: "GET",
                    url: "GetAssetParameterSetByDepartmentJson",
                    dataType: "json",
                    data: {
                        "ObjId": SelectedObj.value
                    },
                    success: function (data) {
                        var s = '<option value="" selected disabled>Выбрать</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].id + '">' + data[i].displayName + '</option>';
                        }
                        $("#AssetParameterSetId").html(s);
                    }
                })
            }
        }
        function RemoveNode(node) {
            var current = $(node).parents('tr');
            var level = $(node).parents('tr').attr('data-level')-0;
            while (true) {
                if ($(current).next().length == 0) break;
                var next = $(current).next();
                if (($(next).attr('data-level')-0) <= level) {
                    break;
                }
                else {
                    $(next).remove();
                }
            }
            $(current).remove();
        }

        function sortInputsForCreate() {
            var list = $('#tp_table_cont').children();
            var l0c = -1;
            var l1c = -1;
            var l2c = -1;
            for (var i = 0; i < list.length; i++) {
                var currDLvl = $(list[i]).attr('data-level');
                var inpElem = $($('#tp_table_cont').children()[i]).find('input');
                if (currDLvl == '0') {
                    l0c = l0c + 1;
                    l1c = -1;
                    l2c = -1;
                    for (var z = 0; z < inpElem.length; z++) {
                        if ($(inpElem[z]).attr('name').endsWith('.Id')) {
                            $(inpElem[z]).attr('name', 'NewTechPoz[' + l0c + '].Id');
                        }
                        else {
                            $(inpElem[z]).attr('name', 'NewTechPoz[' + l0c + '].Name');
                        }
                    }
                }
                else if (currDLvl == '1') {
                    l1c = l1c + 1;
                    l2c = -1;
                    for (var z = 0; z < inpElem.length; z++) {
                        if ($(inpElem[z]).attr('name').endsWith('.Id')) {
                            $(inpElem[z]).attr('name', 'NewTechPoz[' + l0c + '].Childs[' + l1c + '].Id');
                        }
                        else {
                            $(inpElem[z]).attr('name', 'NewTechPoz[' + l0c + '].Childs[' + l1c + '].Name');
                        }
                    }
                }
                else if (currDLvl == '2') {
                    l2c = l2c + 1;
                    for (var z = 0; z < inpElem.length; z++) {
                        if ($(inpElem[z]).attr('name').endsWith('.Id')) {
                            $(inpElem[z]).attr('name', 'NewTechPoz[' + l0c + '].Childs[' + l1c + '].Childs[' + l2c + '].Id');
                        }
                        else {
                            $(inpElem[z]).attr('name', 'NewTechPoz[' + l0c + '].Childs[' + l1c + '].Childs[' + l2c + '].Name');
                        }
                    }
                }
            }
        }

        function sortInputsForUpdate() {
            var list = $('#tp_table_cont').children();
            var l0c = -1;
            for (var i = 0; i < list.length; i++) {
                var currDLvl = $(list[i]).attr('data-level');
                var inpElem = $($('#tp_table_cont').children()[i]).find('input');
                if (currDLvl == '0') {
                    l0c = l0c + 1;
                    for (var z = 0; z < inpElem.length; z++) {
                        if ($(inpElem[z]).attr('name').endsWith('.Id')) {
                            $(inpElem[z]).attr('name', 'InsProt[' + l0c + '].Id');
                        }
                        else {
                            $(inpElem[z]).attr('name', 'InsProt[' + l0c + '].Name');
                        }
                    }
                }
            }
        }

        function GetRouteDetails(SelectedObj) {
            if (SelectedObj != 'undefined') {
                $.ajax({
                    method: "GET",
                    url: "GetRouteDetailsJson",
                    dataType: "json",
                    data: {
                        "ObjId": SelectedObj.value
                    },
                    success: function (data) {
                        var s = '';
                        @*НЕТ ДАННЫХ*@
                        if (data.length == 0) {
                            s += '<tr><td colspan="2"> Нет данных.</td></tr>';
                        }
                        else {
                            for (var a = 0; a < data.length; a++) {
                                if (data[a].childs.length == 0) {
                                    @* НЕТ ДОЧЕРНИХ *@
                                    s +=
                                        '<tr class="parent" data-level="0">' +
                                            '<td>' +
                                                '<span>'+data[a].displayName+'</span>' +
                                                '<input type="text" style="display: none;" name="NewTechPoz['+a+'].Id" value="'+data[a].id+'" />' +
                                                '<input type="text" style="display: none;" name="NewTechPoz['+a+'].DisplayName" value="'+data[a].displayName+'" />' +
                                            '</td>' +
                                            '<td>' +
                                                '<div class="d-flex justify-content-center">' +
                                                    '<button type="button" class="btn btn-danger ml-1" onclick="RemoveNode(this); sortInputsForCreate();">' +
                                                        '<i class="fa fa-trash"></i>' +
                                                    '</button>' +
                                                '</div>' +
                                            '</td>' +
                                        '</tr>';

                                }
                                else {
                                    @* ЕСТЬ ДОЧЕРНИЕ *@
                                    s +=
                                        '<tr class="parent" data-level="0">' +
                                            '<td>' +
                                                '<span class="caret"><span class="badge badge-info mr-1">'+data[a].childs.length+'</span>'+data[a].displayName+'</span>' +
                                                '<input type="text" style="display: none;" name="NewTechPoz['+a+'].Id" value="'+data[a].id+'" />' +
                                                '<input type="text" style="display: none;" name="NewTechPoz['+a+'].DisplayName" value="'+data[a].displayName+'" />' +
                                            '</td>' +
                                            '<td>' +
                                                '<div class="d-flex justify-content-center">' +
                                                    '<button type="button" class="btn btn-danger ml-1" onclick="RemoveNode(this); sortInputsForCreate();">' +
                                                        '<i class="fa fa-trash"></i>' +
                                                    '</button>' +
                                                '</div>' +
                                            '</td>' +
                                        '</tr>';

                                    for (var ac = 0; ac < data[a].childs.length; ac++) {
                                        if (data[a].childs.length == 0) {

                                            @* НЕТ ДОЧЕРНИХ *@
                                            s +=
                                                '<tr class="nested" data-level="1">' +
                                                    '<td>' +
                                                        '<span class="ml-3">'+data[a].childs[ac].displayName+'</span>' +
                                                        '<input type="text" style="display: none;" name="NewTechPoz['+a+'].Childs['+ac+'].Id" value="'+data[a].childs[ac].id+'" />' +
                                                        '<input type="text" style="display: none;" name="NewTechPoz['+a+'].Childs['+ac+'].DisplayName" value="'+data[a].childs[ac].displayName+'" />' +
                                                    '</td>' +
                                                    '<td>' +
                                                        '<div class="d-flex justify-content-center">' +
                                                            '<button type="button" class="btn btn-danger ml-1" onclick="RemoveNode(this); sortInputsForCreate();">' +
                                                                '<i class="fa fa-trash"></i>' +
                                                            '</button>' +
                                                        '</div>' +
                                                    '</td>' +
                                                '</tr>';
                                        }
                                        else {
                                            @* ЕСТЬ ДОЧЕРНИЕ *@
                                            s +=
                                                '<tr class="parent nested" data-level="1">' +
                                                    '<td>' +
                                                        '<span class="caret ml-3"><span class="badge badge-info mr-1">'+data[a].childs[ac].childs.length+'</span>'+data[a].childs[ac].displayName+'</span>' +
                                                        '<input type="text" style="display: none;" name="NewTechPoz['+a+'].Childs['+ac+'].Id" value="'+data[a].childs[ac].id+'" />' +
                                                        '<input type="text" style="display: none;" name="NewTechPoz['+a+'].Childs['+ac+'].DisplayName" value="'+data[a].childs[ac].displayName+'" />' +
                                                    '</td>' +
                                                    '<td>' +
                                                        '<div class="d-flex justify-content-center">' +
                                                            '<button type="button" class="btn btn-danger ml-1" onclick="RemoveNode(this); sortInputsForCreate();">' +
                                                                '<i class="fa fa-trash"></i>' +
                                                            '</button>' +
                                                        '</div>' +
                                                    '</td>' +
                                                '</tr>';
                                            @* САМЫЙ НИЗШИЙ СЛОЙ,ДОЧЕРНИХ БЫТЬ НЕ МОЖЕТ *@
                                            for (var ap = 0; ap < data[a].childs[ac].childs.length; ap++) {
                                                s +=
                                                    '<tr class="nested" data-level="2">' +
                                                        '<td>' +
                                                            '<span class="ml-5">'+data[a].childs[ac].childs[ap].displayName+'</span>' +
                                                            '<input type="text" style="display: none;" name="NewTechPoz['+a+'].Childs['+ac+'].Childs['+ap+'].Id" value="'+data[a].childs[ac].childs[ap].id+'" />' +
                                                            '<input type="text" style="display: none;" name="NewTechPoz['+a+'].Childs['+ac+'].Childs['+ap+'].DisplayName" value="'+data[a].childs[ac].childs[ap].displayName+'" />' +
                                                        '</td>' +
                                                        '<td>' +
                                                            '<div class="d-flex justify-content-center">' +
                                                                '<button type="button" class="btn btn-danger ml-1" onclick="RemoveNode(this); sortInputsForCreate();">' +
                                                                    '<i class="fa fa-trash"></i>' +
                                                                '</button>' +
                                                            '</div>' +
                                                        '</td>' +
                                                    '</tr>';
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        $("#tp_table_cont").html(s);
                        prepareLists();
                    }
                })
            }
        }
    </script>
</section>