@model O2GEN.Models.MaximoStatisticsFilter
@{ ViewData["Title"] = "Дефекты"; }

<section class="">
    <div id="placeholder"></div>
    <div class="row-container-left bg-blue" id="pageToolbar" style="position:sticky">
        <form action="MaximoStatistics" method="post">
            <div class="d-flex flex-wrap m-2">
                <div class="mb-2 mr-2">
                    <button class="btn btn-light" type="button" onclick="SetTodayForTDTs($('#From'), $('#To'))">
                        <i class="fa fa-calendar-day"></i>
                        Сегодня
                    </button>
                </div>
                <span class="li-text-white mr-0">От:</span>
                <div class="mb-2">
                    <input id="From" type="datetime-local" value="@Model.From" name="From" class="datetime-css">
                </div>
                <span class="li-text-white mr-0">До:</span>
                <div class="mb-2">
                    <input id="To" type="datetime-local" value="@Model.To" name="To" class="datetime-css">
                </div>

                <div class="mb-2 mr-2">
                    <select asp-for="DepartmentId" class="form-control" required>
                        <option value="NULL" selected>Выбрать подразделение</option>
                        @foreach (Department item in O2GEN.Helpers.DBHelper.GetChildDepartments((long)((Credentials)Context.Items["User"]).DeptId))
                        {
            <option value="@item.Id">@item.DisplayName</option>}
                    </select>
                </div>

                <div class="mb-2 mr-2">
                    <select asp-for="MaximoStatusId" class="form-control" required>
                        <option value="NULL" selected>Все</option>
                        @foreach (MaximoStatus item in O2GEN.Helpers.DBHelper.GetMaximoStatuses())
                        {
            <option value="@item.Id">@item.DisplayName</option>}
                    </select>
                </div>
                <div class="mb-2 mr-2">
                    <button class="btn btn-light" type="submit">
                        <i class="fa fa-search"></i> Поиск
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div class="margin-between-above">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <p>
                            Подразделение
                        </p>
                    </th>
                    <th>
                        <p>
                            Обход
                        </p>
                    </th>
                    <th>
                        <p>
                            Дата создания
                        </p>
                    </th>
                    <th>
                        <p>
                            Код тех. поз.
                        </p>
                    </th>
                    <th>
                        <p>
                            Код узла
                        </p>
                    </th>
                    <th>
                        <p>
                            Идентификатор Максимо
                        </p>
                    </th>
                    <th>
                        <p>
                            Статус
                        </p>
                    </th>
                    <th>
                        <p>
                            Изменить/Отправить
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Data == null)
                    return;
                else foreach (MaximoDefect item in ViewBag.Data)
                    {
                <tr>
                    <td>
                        <p>
                            @item.DepartmentName
                        </p>
                    </td>
                    <td>
                        <p>
                            @item.TaskName
                        </p>
                    </td>
                    <td>
                        <p>
                            @item.CreationTime.ToString()
                        </p>
                    </td>
                    <td>
                        <p>
                            @item.CustomAssetCode
                        </p>
                    </td>
                    <td>
                        <p>
                            @item.CustomAssetChildCode
                        </p>
                    </td>
                    <td>
                        <p>
                            @item.TICKETID
                        </p>
                    </td>
                    <td>
                        <p>
                            @item.MaximoStatus
                        </p>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            
                            @if (item.MaximoStatusId == 1 || item.MaximoStatusId == 3)
                            {
                            <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#MaximoStatisticsEdit" data-url="@Url.Action("MaximoStatisticsEdit", new { id = item.Id })">
                                <i class="fa fa-pen"></i>
                            </button>
                            <button type="submit" class="btn btn-success ml-1" onclick="changesModalShow('@Url.Action("MaximoStatisticsSend", new { id = item.Id })', 'Отправка', 'Вы действительно хотите отправить данные в Maximo?');">
                                <i class="fa fa-share"></i>
                            </button>
                            }
                            else
                            {
                            <button type="button" class="btn btn-info mr-1" style="z-index:-1;" disabled="disabled">
                                <i class="fa fa-pen"></i>
                            </button>
                            <button type="submit" class="btn btn-success ml-1" style="z-index:-1;" disabled="disabled">
                                <i class="fa fa-share"></i>
                            </button>
                            }
                        </div>
                    </td>
                </tr>
}
            </tbody>
        </table>
    </div>
</section>
