@model O2GEN.Models.ZRP

<div class="modal fade" id="ZRPEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.Id == -1)
                {
                    <h5>Новая запись</h5>
                }
                else
                {
                    <h5>Обход #@Model.Id</h5>
                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form action="ZRPUpdate" method="post">
                @Html.Hidden("Id", Model.Id)
                @Html.Hidden("ObjectUID", Model.ObjectUID)
                <div class="modal-body">
                    <ul class="nav nav-tabs top-margin">
                        <li class="nav-item active">
                            <a class="nav-link text-black-50 active" href="#major-tab" data-toggle="tab">Основные</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black-50" href="#techpos-tab" data-toggle="tab">Тех. позиции</a>
                        </li>
                        @if (Model.Id != -1)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-black-50" href="#defect-tab" data-toggle="tab">Дефекты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black-50" href="#attachment-tab" data-toggle="tab">Вложения</a>
                        </li>
                        }
                    </ul>

                    <div class="tab-content bg-light">
                        <div id="major-tab" class="tab-pane active">
                            <div class="p-3 color-black">

                                @if (Model.Id != -1)
                                {
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="RouteName"></label>
                                            <input asp-for="RouteName" class="form-control" required />
                                            <span asp-validation-for="RouteName" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label asp-for="SCStatusId"></label>
                                            <select asp-for="SCStatusId" class="form-control">
                                                <option value="null" selected disabled>Выбрать</option>
                                                @foreach (SCStatus item in O2GEN.Helpers.DBHelper.GetSCStatuses())
                                                {
                                                    <option value="@item.Id">@item.DisplayName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="SCTypeId"></label>
                                            <select asp-for="SCTypeId" class="form-control">
                                                <option value="null" selected disabled>Выбрать</option>
                                                @foreach (SCTypes item in O2GEN.Helpers.DBHelper.GetSCTypes())
                                                {
                                                    <option value="@item.Id">@item.DisplayName</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label asp-for="DepartmentID"></label>
                                            <select asp-for="DepartmentID" class="form-control">
                                                <option value="null" selected disabled>Выбрать</option>
                                                @foreach (Department item in O2GEN.Helpers.DBHelper.GetChildDepartments())
                                                {
                                                    <option value="@item.Id">@item.DisplayName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="StartTime"></label>
                                            <input asp-for="StartTime" class="form-control" />
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label asp-for="EndTime"></label>
                                            <input asp-for="EndTime" class="form-control" />
                                        </div>
                                    </div>


                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="ResourceId"></label>
                                            <select asp-for="ResourceId" class="form-control">
                                                <option value="null" selected disabled>Выбрать</option>
                                                @foreach (Resource item in O2GEN.Helpers.DBHelper.GetResources())
                                                {
                                                    <option value="@item.Id">@item.DisplayName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="RouteName"></label>
                                            <input asp-for="RouteName" class="form-control" required />
                                            <span asp-validation-for="RouteName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label asp-for="DepartmentID"></label>
                                            <select asp-for="DepartmentID" class="form-control">
                                                <option value="null" selected disabled>Выбрать</option>
                                                @foreach (Department item in O2GEN.Helpers.DBHelper.GetChildDepartments())
                                                {
                                                    <option value="@item.Id">@item.DisplayName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="SCTypeId"></label>
                                            <select asp-for="SCTypeId" class="form-control">
                                                <option value="null" selected disabled>Выбрать</option>
                                                @foreach (SCTypes item in O2GEN.Helpers.DBHelper.GetSCTypes())
                                                {
                                                    <option value="@item.Id">@item.DisplayName</option>
                                                }
                                            </select>
                                        </div>
                                        @*На смене маршрута должна обновляться вкладка "Тех позиции.".*@
                                        <div class="form-group col-md-6">
                                            <label asp-for="AssetParameterSetId"></label>
                                            <select asp-for="AssetParameterSetId" class="form-control">
                                                <option value="null" selected disabled>Выбрать</option>
                                                @foreach (AssetParameterSet item in O2GEN.Helpers.DBHelper.GetAssetParameterSets())
                                                {
                                                    <option value="@item.Id">@item.DisplayName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="StartTime"></label>
                                            <input asp-for="StartTime" class="form-control" />
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label asp-for="EndTime"></label>
                                            <input asp-for="EndTime" class="form-control" />
                                        </div>
                                    </div>
                                    @*Тут должна быть периодичность обхода*@
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="Period"></label>
                                            <input asp-for="Period" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="ResourceId"></label>
                                            <select asp-for="ResourceId" class="form-control">
                                                <option value="null" selected disabled>Выбрать</option>
                                                @foreach (Resource item in O2GEN.Helpers.DBHelper.GetResources())
                                                {
                                                    <option value="@item.Id">@item.DisplayName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div id="techpos-tab" class="tab-pane">
                            @*<div class="row-container-left">
                                <button class="btn btn-outline-primary margin-around">Добавить</button>
                                <button class="btn btn-outline-primary margin-around">Развернуть всё</button>
                                <button class="btn btn-outline-primary margin-around">Свернуть всё</button>
                            </div>*@
                            <div class="margin-between-above" style="height:500px; overflow:auto;">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                <p>
                                                    Тех.позиция
                                                </p>
                                            </th>

                                            <th width="100px">
                                                <p>
                                                    Удалить
                                                </p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.InsProt.Count; i++)
                                        {
                                            <tr class="parent">
                                                <td>
                                                    <span class="caret"><span class="badge badge-info mr-1">@Model.InsProt[i].Items.Count</span>@Model.InsProt[i].Name</span>
                                                    <input type="hidden" name="InsProt[@i].Id" />
                                                    <input type="hidden" name="InsProt[@i].Name" />
                                                </td>

                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <button type="submit" class="btn btn-danger ml-1" @*data-url="@Url.Action("DepartmentDelete", new { id = item.Id })"*@>
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            if (Model.InsProt[i].Items.Count > 0)
                                            {
                                                <tr class="nested">
                                                    <td colspan="2">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <p>
                                                                            Контроль
                                                                        </p>
                                                                    </th>
                                                                    <th>
                                                                        <p>
                                                                            Дата проведения осмотра
                                                                        </p>
                                                                    </th>
                                                                    <th>
                                                                        <p>
                                                                            Значение
                                                                        </p>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model.InsProt[i].Items)
                                                                {
                                                                <tr>
                                                                    <td>
                                                                        <span>@item.Name</span>
                                                                    </td>
                                                                    <td>

                                                                    </td>
                                                                    <td>

                                                                    </td>
                                                                </tr>
                                                            }
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        @if (Model.Id != -1)
                        {
                            <div id="defect-tab" class="tab-pane">

                                <div class="margin-between-above">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <p>Тех.Позиция</p>
                                                </th>

                                                <th>
                                                    <p>Узел</p>
                                                </th>

                                                <th>
                                                    <p>Контроль</p>
                                                </th>

                                                <th>
                                                    <p>Значение</p>
                                                </th>

                                                <th>
                                                    <p>Дефект обнаружил</p>
                                                </th>

                                                <th>
                                                    <p>Дефект обработал</p>
                                                </th>

                                                <th>
                                                    <p>Время обнаружения</p>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>

                            <div id="attachment-tab" class="tab-pane">

                                <div class="margin-between-above">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <p>Тех.Позиция</p>
                                                </th>

                                                <th>
                                                    <p>Узел</p>
                                                </th>

                                                <th>
                                                    <p>Контроль</p>
                                                </th>

                                                <th>
                                                    <p>Время создания вложения</p>
                                                </th>

                                                <th>
                                                    <p>Вложение</p>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>


                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary" data-save="modal">Применить</button>
                </div>
            </form>
        </div>
    </div>
</div>