@using O2GEN.Helpers.Static;
@using O2GEN.ViewModels

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, IE=11, IE=10, IE=9, IE=8, IE=7">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />*@

    <title>@ViewData["Title"] - Мобильный инспектор</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap-table.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-select.css" />
    <link href="~/css/style3.css" rel="stylesheet" />
    <link href="~/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/fontawesome-free-5.15.1-web/css/all.css" />
    <link href="~/lib/bsttdtp/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/custom.style.css" />

    @*<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>*@
    <!-- Font Awesome JS -->
    <script src="~/js/solid.min.js"></script>
    <script src="~/js/fontawesome.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Popper.JS -->
    <script src="~/popper.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap-table.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>

    <script src="~/lib/bsttdtp/js/moment-with-locales.min.js"></script>
    @*<script src="~/js/moment-with-locales.min.js"></script>*@
    <script src="~/lib/bsttdtp/js/tempusdominus-bootstrap-4.min.js"></script>



    <style>
        .bootstrap-datetimepicker-widget.dropdown-menu {
            width: auto;
        }

        .timepicker-picker table td a span,
        .timepicker-picker table td,
        .timepicker-picker table td span {
            height: 20px !important;
            line-height: 20px !important;
            vertical-align: middle;
            width: 30px !important;
            padding: 0px !important;
        }

        .alert-message {
            position: fixed;
            bottom: 5px;
            right: 5px;
            max-width:350px;
        }
        .alert-message .alert-icon {
            width: 3rem;
        }

        .alert-message .close {
            font-size: 1rem;
            color: #a6a6a6;
        }

    </style>

</head>
<body>

    <div>
        <!-- Sidebar  -->
        <nav id="sidebar" class="bg-blue">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">

            </div>

            <ul class="list-unstyled components">
                @*<p>@((Credentials)HttpContext.Items["User"]).UserName</p>*@
                <li class="active">
                    <a asp-action="Index" asp-controller="Home">Главная страница</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Отчеты</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a asp-controller="Home" asp-action="ControlValueReports">Отчёт по значениям контролей</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="ReportsOnViewedTechPositions">Количество осмотренных тех. позиций</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="NumberOfTechPosReports">Количество тех. позиций</a>
                        </li>
                        @*<li>
                            <a asp-controller="Home" asp-action="DefectsReport">Дефекты</a>
                        </li>*@
                        <li>
                            <a asp-controller="Home" asp-action="ControlTrends">График по контролям</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Пользователи</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a asp-controller="Employee" asp-action="Engineers">Работники</a>
                        </li>
                        @*<li>
                                <a asp-controller="Employee" asp-action="Roles">Роли</a>
                            </li>*@
                        @*???
                            <li>
                                <a asp-controller="Employee" asp-action="Resources">Ресурсы</a>
                            </li>*@
                        @*<li>
                                <a href="#">Рабочие календари</a>
                            </li>*@
                        <li>
                            <a asp-controller="Employee" asp-action="Resources">Должности</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#page2Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Справочники</a>
                    <ul class="collapse list-unstyled" id="page2Submenu">
                        <li>
                            <a asp-controller="Desk" asp-action="Departments">Подразделения</a>
                        </li>
                        <li>
                            <a asp-controller="Desk" asp-action="Objects">Объекты</a>
                        </li>
                        @*<li>
                            <a asp-controller="Desk" asp-action="EmployeeCategory">Категории персонала</a>
                        </li>*@
                        @*<li>
                                <a asp-controller="Desk" asp-action="EmployeePosition">Должность</a>
                            </li>*@
                        @*<li>
                                <a asp-controller="Desk" asp-action="ObjectClass">Классы объектов</a>
                            </li>*@
                        <li>
                            <a asp-controller="Desk" asp-action="Route">Маршруты</a>
                        </li>
                        <li>
                            <a asp-controller="Desk" asp-action="Controls">Контроли</a>
                        </li>
                        @*Убрано до выяснения надобности*@
                        @*<li>
                                <a asp-controller="Desk" asp-action="TOTypes">Типы ТО</a>
                            </li>*@
                    </ul>
                </li>

            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="bg-blue">
                <div class="row-container">

                    <div class="row-col-70">
                        <ul class="ul-list-left-aligned">
                            <li>
                                <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: steelblue">
                                    <i class="fas fa-align-justify"></i>
                                </button>
                            </li>

                            <li class="no-left-margin">
                                <a asp-controller="Home" asp-action="Index">Главная</a>
                            </li>

                            <li>
                                @Html.DynamicNavigationLink("link")
                            </li>
                        </ul>
                    </div>

                    <div class="row-col-40">

                        <ul class="ul-list-right-aligned">
                            <li class="text-white">
                                @*<a class="navbar-brand">СМИК</a>*@
                                <p class="navbar-brand">Добро пожаловать @(((Credentials)Context.Items["User"]).DisplayName)</p>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Выход</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="margin-between-aside">
                @RenderBody()
            </div>


        </div>

    </div>

    <div class="overlay">

    </div>
    <div class="modal fade" id="changesModal" tabindex="-1" role="dialog" aria-labelledby="changesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changesModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="changesModalMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                    <button type="button" id="changesModalAccept" class="btn btn-primary" onclick="">Да</button>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.AlertType != null)
    {
        <div class="alert @(ViewBag.AlertType==AlertType.Success? "alert-success": (ViewBag.AlertType==AlertType.Warning? "alert-warning": (ViewBag.AlertType==AlertType.Error? "alert-danger": "alert-primary")) ) alert-success alert-message d-flex rounded p-0" role="alert">
            <div class="alert-icon d-flex justify-content-center align-items-center flex-grow-0 flex-shrink-0 py-3">
                @switch (ViewBag.AlertType)
                {
                    case AlertType.Success:
                        <i class="fas fa-check"></i>
                        break;
                    case AlertType.Warning:
                        <i class="fas fa-exclamation"></i>
                        break;
                    case AlertType.Error:
                        <i class="fas fa-bullhorn"></i>
                        break;
                    default:
                        <i class="fas fa-bullhorn"></i>
                        break;
                }
            </div>
            <div class="d-flex align-items-center py-2 px-3">
                @ViewBag.AlertMessage
            </div>
            <a href="#" class="close d-flex ml-auto justify-content-center align-items-center px-3" data-dismiss="alert">
                <i class="fas fa-times"></i>
            </a>
        </div>
    }


    <script type="text/javascript">

        function Initializer() {
            //InitializeDatePicker();
            $.noConflict();
            InitializeMenu();
        }

        /*
        function InitializeDatePicker() {
            $('#datetimepickerFROM').datetimepicker({
                defaultDate: moment().subtract(2, 'days'),
                locale: 'ru',
                icons: {
                    time: "fa fa-clock",
                    date: "fa fa-calendar-alt",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
            $('#datetimepickerFROM').datetimepicker('maxDate', moment());
            var d = new Date(moment().subtract(2, 'days'));
            $('#datetimepickerFROM').datetimepicker('date', new Date(d.getFullYear(), d.getMonth(), d.getDate()));

            $('#datetimepickerTO').datetimepicker({
                defaultDate: moment().subtract(2, 'days'),
                locale: 'ru',
                icons: {
                    time: "fa fa-clock",
                    date: "fa fa-calendar-alt",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
            $('#datetimepickerTO').datetimepicker('maxDate', moment());
        }*/

        function InitializeMenu() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        }

        $(document).ready(Initializer);

        //$(document).ready(function () {
        //    $("#sidebar").mCustomScrollbar({
        //        theme: "minimal"
        //    });

        //    $('#dismiss, .overlay').on('click', function () {
        //        $('#sidebar').removeClass('active');
        //        $('.overlay').removeClass('active');
        //    });

        //    $('#sidebarCollapse').on('click', function () {
        //        $('#sidebar').addClass('active');
        //        $('.overlay').addClass('active');
        //        $('.collapse.in').toggleClass('in');
        //        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        //    });
        //});

        //$.noConflict();
        //jQuery(document).ready(function ($) {
        //    $('#datetimepicker2').datetimepicker({
        //        defaultDate: moment().subtract(2, 'days'),
        //        locale: 'ru',
        //        icons: {
        //            time: "fa fa-clock",
        //            date: "fa fa-calendar-alt",
        //            up: "fa fa-arrow-up",
        //            down: "fa fa-arrow-down"
        //        },
        //        maxDate: moment()
        //    });
        //});
        function changesModalShow(ref, head, msg) {
            console.log(1);
            $('#changesModalLabel').html(head);
            console.log(2);
            $('#changesModalMessage').html(msg);
            console.log(3);
            $('#changesModalAccept').on('click', function () { location.href = ref; });
            console.log(4);
            $('#changesModal').modal('show');
            console.log(5);
        }
    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bsttdtp/js/jquery.min.js"></script>
    <script src="~/lib/bsttdtp/js/popper.min.js"></script>
    <script src="~/lib/bsttdtp/js/moment-with-locales.min.js"></script>
    <script src="~/lib/bsttdtp/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/lib/bsttdtp/js/base.js"></script>


    @*<script src="~/js/vlvscript.js"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
