@model O2GEN.Models.Engineer

<div class="modal fade" id="EngineerEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.Id == -1)
                {
                    <h5>Новая запись</h5>
                }
                else
                {
                    <h5>Изменить запись №@Model.Id</h5>
                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <div class="tab-content bg-light">

                    <div id="major-tab" class="tab-pane active">
                        <div class="row-container color-black">

                            <div class="row-div-two">
                                <form action="CreateZpr">
                                    <div class="form-group">

                                        <div class="margin-between-above">
                                            <label asp-for="Surname"></label>
                                            <input asp-for="Surname" class="form-control" />
                                            <span asp-validation-for="Surname" class="text-danger"></span>
                                        </div>
                                        <div class="margin-between-above">
                                            <label asp-for="GivenName"></label>
                                            <input asp-for="GivenName" class="form-control" />
                                            <span asp-validation-for="GivenName" class="text-danger"></span>
                                        </div>
                                        <div class="margin-between-above">
                                            <label asp-for="MiddleName"></label>
                                            <input asp-for="MiddleName" class="form-control" />
                                        </div>
                                        <div class="margin-between-above">
                                            <label asp-for="DepartmentId"></label>
                                            <select asp-for="DepartmentId" class="form-control">
                                                @foreach (Department item in O2GEN.Helpers.DBHelper.GetDepartments())
                                                {
                                                    <option value="@item.Id">@item.DisplayName</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="margin-between-above">
                                            <label asp-for="PersonPositionId"></label>
                                            <select asp-for="PersonPositionId" class="form-control">
                                                @foreach (PersonPosition item in O2GEN.Helpers.DBHelper.GetPersonPositions())
                                                {
                                                    <option value="@item.Id">@item.DisplayName</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="margin-between-above">
                                            <label asp-for="CalendarId"></label>
                                            <select asp-for="CalendarId" class="form-control">
                                                @foreach (Calendar item in O2GEN.Helpers.DBHelper.GetCalendars())
                                                {
                                                    <option value="@item.Id">@item.Title</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-outline-primary">Применить</button>
            </div>
        </div>
    </div>
</div>