@model O2GEN.Models.Resource

<div class="modal fade" id="ResourceEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form action="ResourceUpdate" method="post">
                <div class="modal-header">
                    @if (Model.Id == -1)
                    {
                        <h5>Новая запись</h5>
                    }
                    else
                    {
                        <h5>Изменить запись №@Model.Id</h5>
                    }
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                @{ 
                    var parameters = O2GEN.Helpers.DBHelper.GetEngineersList();
                }
                <div class="modal-body">
                    <div id="Selected" style="visibility:collapse;">
                        @for (int i = 0; i < Model.Parameters.Count; i++)
                        {
                            <input id="Parameters[@i]" name="Parameters[@i]" type="hidden" value="@Model.Parameters[i]">
                        }
                    </div>
                    @Html.Hidden("Id", Model.Id)
                    @Html.Hidden("ObjectUID", Model.ObjectUID)
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="DisplayName"></label>
                            <input asp-for="DisplayName" class="form-control" required />
                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="ResourceTypeId"></label>
                            <select asp-for="ResourceTypeId" class="form-control">
                                <option value="null" selected disabled>Выбрать</option>
                                @foreach (ResourceType item in O2GEN.Helpers.DBHelper.GetResourceTypes())
                                {
                    <option value="@item.Id">@item.DisplayName</option>}
                            </select>
                            <span asp-validation-for="ResourceTypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ResourceStateId"></label>
                        <select asp-for="ResourceStateId" class="form-control" required>
                            <option value="null" selected disabled>Выбрать</option>
                            @foreach (ResourceState item in O2GEN.Helpers.DBHelper.GetResourceStates())
                            {
                                <option value="@item.Id">@item.DisplayName</option>
                            }
                        </select>
                        <span asp-validation-for="ResourceStateId" class="text-danger"></span>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="DepartmentId"></label>
                            <select asp-for="DepartmentId" class="form-control" required>
                                <option value="null" selected disabled>Выбрать</option>
                                @*При смене подразделения нужно чистить список выбранных, и обновлять пул работников*@
                                @foreach (Department item in O2GEN.Helpers.DBHelper.GetChildDepartments())
                                {
                                    <option value="@item.Id">@item.DisplayName</option>
                                }
                            </select>
                            <span asp-validation-for="DepartmentId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Latitude"></label>
                            <input asp-for="Latitude" class="form-control" type="number" />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Longitude"></label>
                            <input asp-for="Longitude" class="form-control" type="number" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <input class="form-control mb-1" id="myInput1" type="text" placeholder="Поиск">
                            <select multiple class="form-control" formtarget="_blank" id="SelectList1" style="height: 350px">
                                @foreach (var item in parameters)
                                {
                                    if (!Model.Parameters.Contains(item.Id))
                                    {
                                        <option value="@item.Id">@item.DisplayName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-2 text-center">
                            <button type="button" class="btn btn-light mb-1" id="right"><i class="fa fa-arrow-right"></i></button>
                            <br />
                            <button type="button" class="btn btn-light" id="left"><i class="fa fa-arrow-left"></i></button>
                        </div>
                        <div class="form-group col-md-5">
                            <input class="form-control mb-1" id="myInput2" type="text" placeholder="Поиск">
                            <select multiple class="form-control" formtarget="_blank" id="SelectList2" style="height:350px">
                                @foreach (var item in parameters)
                                {
                                    if (Model.Parameters.Contains(item.Id))
                                    {
                                        <option value="@item.Id">@item.DisplayName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    @*<div class="form-row">
                        <div class="form-group col-md-5">
                            <input class="form-control" id="myInput1" formtarget="_blank" type="text" placeholder="Search..">
                            <select multiple class="form-control" formtarget="_blank" id="SelectList1">
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <button type="button" class="btn btn-light" id="right">Вправо</button>
                            <br />
                            <button type="button" class="btn btn-light" id="left">Влево</button>
                        </div>
                        <div class="form-group col-md-5">
                            <input class="form-control" id="myInput2" type="text" placeholder="Search..">
                            <select multiple class="form-control" formtarget="_blank" id="SelectList2">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>*@


                    @*С Поиском
        <select class="selectpicker" data-live-search="true">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
        </select>*@
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-save="modal">Применить</button>
            </div>
            </form>
        </div>
    </div>
</div>